# 除外するビルド・出力ファイル
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
*.pdb
*.cache
*.dbmdl
*.log
*.vspscc
*.vssscc
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.ipch/
*.aps
*.dll
*.exe
*.appx
*.appxbundle
*.msix
*.msixbundle
*.vsix
*.psess
*.vsp
*.vspx
*.vsix
*.docstates
*.publishsettings
*.publish.xml
*.TestResults/
*.PublishProfiles/
*.localhistory/
*.DS_Store
*.vscode/
icon.png
icon.ico
